# .npmignore
node_modules
_README/__pycache__/
_README/addons/
_README/lang/
_README/Lib/
_README/*.py
_README/*.txt
_README/version
_README/*.html
_README/*.sh
_README/assets/css/
_README/assets/fonts/
_README/assets/js/
_README/assets/vendor/
demo/vendor
demo/demo_md.js
demo/index_md.html