html, body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	color: #dfdfdf;
	background: #262626;
	height: 100%;
	overflow: auto;
	font-size: 12px;
	line-height: 1.6rem;
}
body {
	padding: 2rem;
}
* {
	box-sizing: border-box;
}
.container {
	width: 100%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
}
pre {
	background: #111;
	border-radius: 0.3rem;
	overflow: hidden;
}
pre code {}
.two>* {
	width: calc(50% - 0.5rem);
	float: left;
}
.two {
	width: 100%;
	position: relative;
	float: left;
}
.two>*:first-of-type {
	margin-right: 1rem;
}